@import 'variables';
@import 'mixins';

header {
  background-color: $white;
  padding: 1rem;

  img {
    display: block;
    height: 30px;
  }
}

@media (min-width: $mobile-breakpoint) {
  header {
    padding: 1.5rem 2rem;
  }
}

main {
  margin: 0 auto;
  max-width: $mobile-breakpoint;
}

h1 {
  color: $blue;
  font-size: $h4-font-size;
  font-weight: $font-weight-base;
  margin: 0;
  padding: 1.5rem;
  text-align: center;

  strong {
    font-weight: $font-weight-bold;
  }
}

h2 {
  font-size: $h3-font-size;
  line-height: 1.33;
  margin: 0;
}

h3 {
  color: $dark-grey;
  font-size: $h6-font-size;
  font-weight: $font-weight-base;
  line-height: 1.25rem;
  margin: 0;
}

@media (min-width: $mobile-breakpoint) {
  h1 {
    font-size: $h3-font-size;
    padding: 2.5rem;
  }

  h2 {
    font-size: $h1-font-size;
    line-height: 1.25;
  }

  h3 {
    font-size: $h5-font-size;
    line-height: 1.25em;
  }
}

.card {
  > img {
    height: 2rem;
  }
}

@media (min-width: $mobile-breakpoint) {
  .card {
    > img {
      height: 2.5rem;
    }
  }
}

form {
  align-items: flex-start;
  display: grid;
  gap: $spacer;
  grid-template-columns: 1fr;
  margin-top: $spacer * 2;

  [type='submit'] {
    background-color: $blue;
    border-radius: 100vh;
    border-style: none;
    color: $white;
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
    padding: $spacer;
  }
}

@media (min-width: $mobile-breakpoint) {
  form {
    margin-top: $spacer * 2.5;
  }
}

label {
  color: $almost-black;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.25em;
}

input {
  border: 1px solid $light-grey;
  border-radius: $border-radius / 2;
  box-sizing: border-box;
  font-size: $font-size-base * 1.25;
  font-weight: $font-weight-bold;
  height: 3.5rem;
  line-height: 1.2;
  padding: 1rem;
  width: 100%;
}

[type='month'] {
  appearance: none;
  background-color: $white;
  font-family: $font-family-base;
  padding: 0.25rem;
  position: relative;

  &::-webkit-datetime-edit {
    text-align: center;
  }

  &::-webkit-datetime-edit-text {
    display: none;
  }

  &::-webkit-datetime-edit-month-field {
    display: block;
    text-transform: capitalize;
  }

  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  &::-webkit-datetime-edit-year-field {
    display: block;
    margin: -0.5rem 0 -1rem;
    transform: scale(0.8);
  }

  &::-webkit-date-and-time-value {
    margin: 0 auto;
    text-align: center;
    white-space: pre-line;
    width: min-content;
  }
}

.form-field {
  display: grid;
  grid-template-columns: auto 1fr auto;

  label {
    grid-column: 1/4;
  }

  .errors {
    color: $red;
    grid-column: 1/4;
    padding: $spacer / 2 0;
  }

  .action-button {
    &:hover {
      filter: brightness(0.95);
    }
  }

  .prefix,
  .sufix {
    background-color: $superlight-grey;
    border: 1px solid $light-grey;
    border-radius: $border-radius / 2;
    color: $dark-grey;
    display: inline-block;
    font-family: $font-family-base;
    font-size: 22px;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0;
    text-align: center;
    width: 3.5rem;

    img {
      display: block;
      height: 1rem;
      margin: 0 auto;
    }
  }

  .prefix {
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
    grid-column: 1/2;
  }

  .sufix {
    border-bottom-left-radius: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    grid-column: 3/4;
  }

  .prefix ~ input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    grid-column-start: 2;
    grid-row: 2/3;
  }

  .sufix ~ input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    grid-column-end: 3;
  }
}

.sufix img {
  transform: scaleX(-1);
}

.summary {
  align-items: center;
  border: 1px solid $light-grey;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-columns: 1fr 2fr;

  > strong,
  > span,
  p {
    padding: $spacer $spacer * 1.5;
  }

  > strong {
    font-size: $h5-font-size;
    font-weight: $font-weight-normal;
    padding-right: 0;

    > span {
      display: none;
    }
  }

  > span {
    @include text-overflow;
    color: $light-blue;
    font-size: $font-size-xlg;
    font-weight: $font-weight-normal;
    padding-left: 1rem;
    text-align: right;
  }

  p {
    background-color: $superlight-grey;
    font-size: $font-size-sm;
    grid-column: 1/3;
    margin: 0;
  }
}
@media (min-width: $mobile-breakpoint) {
  .summary {
    grid-template-columns: 1fr 1fr;

    > strong,
    > span,
    p {
      padding: $spacer * 2;
    }

    > strong {
      font-size: $h4-font-size;

      > span {
        display: inline-block;
      }
    }
  }
}

@media (min-width: $mobile-breakpoint) {
  :host {
    grid-template-columns: auto 1fr;
  }

  a {
    display: block;
  }

  .card {
    grid-column: 1/3;
  }

  form {
    grid-template-columns: 1fr 1fr;

    .summary,
    > button {
      grid-column: 1/3;
    }
  }
}
