<header>
  <a href="/"><img alt="Origin" src="./assets/icons/logo.svg" role="button" aria-label="Origin" /></a>
</header>
<main>
  <h1>Let's plan your <strong>saving goal</strong>.</h1>
  <div class="card">
    <img src="./assets/icons/house.svg" alt="Goal icon" />
    <h2>Buy a house</h2>
    <h3>Saving goal</h3>
    <form [formGroup]="goalForm" (ngSubmit)="submitGoal()">
      <div class="form-field">
        <label for="amount">Total amount</label>
        <button type="button" class="prefix">$</button>
        <input type="text" name="amount" formControlName="amount" inputmode="numeric" autocomplete="off" mask="separator.2" />
        <span class="errors" *ngIf="goalForm.get('amount').invalid && (goalForm.get('amount').dirty || goalForm.get('amount').touched)">
          <span *ngIf="goalForm.get('amount').hasError('required')"> This field is required. </span>
        </span>
      </div>
      <div class="form-field">
        <label for="deadline">Reach goal by</label>
        <button type="button" class="prefix action-button" (click)="skipMonth(-1)">
          <img src="./assets/icons/arrow.svg" alt="Previous month" />
        </button>
        <button type="button" class="sufix action-button" (click)="skipMonth(1)">
          <img src="./assets/icons/arrow.svg" alt="Next month" />
        </button>
        <input type="month" [min]="dateMin" [max]="dateMax" name="deadline" formControlName="deadline" />
        <span class="errors" *ngIf="goalForm.get('deadline').invalid">
          <span *ngIf="goalForm.get('deadline').hasError('required')"> This field is required. </span>
          <span *ngIf="goalForm.get('deadline').hasError('minDate')">
            Date should be greater or equal than {{ goalForm.get('deadline').getError('minDate').min | date: 'MMMM yyyy' }}.
          </span>
          <span *ngIf="goalForm.get('deadline').hasError('maxDate')">
            Date should not be greater than {{ goalForm.get('deadline').getError('maxDate').max | date: 'MMMM yyyy' }}.
          </span>
        </span>
      </div>
      <div class="summary" *ngIf="summary$ | async as summary">
        <strong>Monthly amount</strong>
        <span>
          <ng-container *ngIf="summary.monthlyAmount >= 1; else decimals">
            {{ summary.monthlyAmount | currency: 'USD':'symbol':'1.0-2' }}
          </ng-container>
          <ng-template #decimals>
            {{ summary.monthlyAmount | currency: 'USD':'symbol':'1.2-6' }}
          </ng-template>
        </span>
        <p>
          You're planning <strong>{{ summary.remainingMonths }} monthly deposits</strong> to reach your
          <strong>{{ summary.goalAmount | currency: 'USD':'symbol':'1.0-0' }}</strong> goal by
          <strong>{{ summary.goalDeadline | date: 'MMMM yyyy' }}.</strong>
        </p>
      </div>
      <button type="submit" [disabled]="goalForm.invalid">Finish</button>
    </form>
  </div>
</main>
