@import 'variables';
@import 'type';

* {
  box-sizing: border-box;
}

:root {
  background-color: $superlight-grey;
  box-sizing: border-box;
  color: $almost-black;
  font-family: $font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-base;
}

html,
body {
  height: 100%;
  margin: 0;
}

[disabled] {
  filter: grayscale(1) opacity(50%);
}

:focus {
  box-shadow: 0 0 0 1px $light-grey;
}

.card {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1.5rem;
}

@media (min-width: $mobile-breakpoint) {
  .card {
    border: 1px solid $light-grey;
    padding: 2.5rem;
  }
}
